{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>intoduction</h1>
    </div>
    
    <div class="container">
        <p style="font-size: 20px; text-align: justify;">
            The mountains are calling, and people are responding. 
            
            During the cooler months at higher elevations, 
            Downhill Snowsport participation has risen over the years.
            
            Downhill Snowsports refers to downhill skiing and snowboarding, and will be used interchangeably.
            
            According to the National Ski Area Association (NSAA), the estimated domestic 
            participants in the United States has grown from just shy of 9 million annual 
            visitors in the late 1990s to about 11.6 million visitors during the 2022-2023 season 
            <a href='https://nsaa.org/webdocs/Media_Public/IndustryStats/active_US_participants_1996-97_2022-23.pdf'>[1]</a>. 
            
            Not only has popularity in activities like skiing and snowboarding grown domestically but has also been drawing in an 
            increasing international crowd. 
            
            During the 2022-2023 season, between domestic and international, the total number of visitors 
            was an astonishing 65.4 million just in the United States <a href='https://nsaa.org/webdocs/Media_Public/IndustryStats/Econ_impact_infographic_2023.pdf'>[2]</a>. 
            
            Despite the timeless allure of the Alps and Japan’s legendary powder, the United States boasts 
            the highest number of ski resort visitors annually for any single country. 
            
            The popularity also comes with a favorable economic effect. 
            
            The NSAA cites a study done by the Bureau of Economic Analysis (BEA), which concluded that in 2022, 
            general outdoor recreation contributed over $1 trillion to the United States’ economy, with 
            just shy of $60 billion coming from Downhill Snowsports. 
            
            Needless to say, skiing and snowboarding has a massive market, and not just in the United States. 
            
            According to an article by Travel + Leisure, “there are thousands of ski resorts sprinkled across more than 60 nations” 
            worldwide <a href='https://www.travelandleisure.com/best-ski-resorts-in-the-world-8406637#:~:text=There%20are%20thousands%20of%20ski%20resorts%20sprinkled,across%20more%20than%2060%20nations%20around%20the%20globe.'>[3]</a>. 
            
            The article summarizes 20 of the best ski resorts, with eight located in the United States 
            and two located in Canada. 
            
            In other words, out of the entire list this author had composed, half of the best Downhill 
            Snowsport areas are in North America.
        </p>
        
        <p style="font-size: 20px; text-align: justify;">
            With the increasing participation and market in Downhill Snowsports, 
            how are skiers and snowboarders accessing and paying for some time on the slopes? 
            
            In an article written by Sam Weintraub at PeakRankings, he reflects on the “skyrocketing” 
            prices of lift tickets over the year and how enthusiasts can “get the best bang for their buck” 
            <a href='https://www.peakrankings.com/content/2022-highest-lift-ticket-prices'>[4]</a>. 
            
            There are ten ski resorts mentioned in the article, each having a single day pass in the hundreds 
            of dollars, with the most expensive having a price tag around $300. 
            
            However, something that stands out in the article are options to alleviate some of this financial pain. 
            
            Cue Epic, Ikon, and resort specific passes. 
            
            Although the cost of a single day on the slopes may be dizzying, these passes allow for a 
            bulk payment prior to the season starting which allows for multiple, sometimes unlimited, 
            days at select ski resorts. 
            
            In the cases of Epic and Ikon passes, there are dozens of resorts worldwide to use their 
            packages at. 
            
            Each pass has different tiers for adults, ranging from a few hundred dollars to over one thousand dollars 
            <a href='https://epicpass.com'>[5]</a> <a href='https://ikonpass.com'>[6]</a>. 
            
            However, if an enthusiast isn’t fond of the idea of Epic or Ikon, or just has a singular resort 
            in mind, they’re not completely out of luck. 
            
            Powder Mountain, located in Utah, is an independent ski resort (not associated with Epic or Ikon). 
            
            Their day passes are also usually in the hundreds of dollars; however, they too offer package deals ranging from the low to mid-thousands of dollars 
            <a href='https://estore.powdermountain.com/'>[7]</a>. 
            
            Some of the resorts which are associated with Epic and Ikon have their package deals as well. 
            
            Many skiers and snowboarders opt for at least one of these packages to maximize their investment 
            and time on the slopes.
        </p>
        
        <p style="font-size: 20px; text-align: justify;">
            There are plenty of factors which draw people to the slopes. 
            
            It could be the beauty of the outdoors, the thrill of adrenaline, 
            or bonding at après-ski. 
            
            Whatever their reasons, there is one essential element required, snow. 
            
            Especially true over the majority of North America, the winter months 
            into early spring mean snow in the mountains. 
            
            The basis for snow forming depends on temperature and humidity. 
            
            In the words of The National Snow and Ice Data Center (NSIDC), 
            “there needs to be moisture in the atmosphere and low temperatures”, specifically 
            “0 degrees Celsius (32 degrees Fahrenheit)” 
            <a href='https://nsidc.org/learn/parts-cryosphere/snow/quick-facts-about-snow'>[8]</a>. 
            
            However, the normal season for skiing and snowboarding doesn’t always mean ideal conditions. 
            
            Some factors including high wind speeds and low visibility can deter enthusiasts and even 
            temporarily close runs (common pathways down a mountain), lifts, and even the entire resort. 
            
            In an article by Emma Brooks from The Ski Lesson, it’s stated that “ski lifts typically close 
            when wind speeds reach between 25 to 40 miles per hour,” but that different technologies of 
            ski lifts have varying lower limits requiring closure for safety reasons 
            <a href='https://theskilesson.com/the-shocking-truth-about-ski-lifts-and-wind-speed-what-you-need-to-know/#What_wind_speed_do_ski_lifts_close_at'>[9]</a>. 
            
            In 2021, multiple lifts were closed at a Colorado resort “due to limited visibility” 
            <a href='https://unofficialnetworks.com/2021/03/15/lifts-close-loveland-low-visibility/'>[10]</a>. 
            
            To the dismay of many enthusiasts, the normal season doesn’t always ensure enough snow. 
            
            During the 2023-2024 season, a popular destination in Montana, Teton Pass, 
            closed “halfway through” the season 
            <a href='https://www.usatoday.com/story/news/nation/2024/02/14/montana-teton-pass-closes-lack-of-snow/72588888007/#:~:text=A%20locally%20owned%20ski%20resort%20west%20of%20Choteau%2C,the%20ski%20and%20snowboard%20industry%3B%20a%20warming%20climate.'>[11]</a>. 
            
            The article also issued a warning that the “trend of declining snowfall is 
            expected to continue” and this could deal a “harsh blow to the ski industry over the next 
            few decades.” 
            
            Considering entire communities and a booming industry are built around an 
            expectation that enough snow will fall in certain areas during the winter, 
            this is an eerie reminder just how real climate change is. 
            
            Research surrounding this topic has been done in depth, including a recent publication by 
            Daniel Scott and Rober Steiger in "How climate change is damaging the US ski industry" 
            <a href='https://www.tandfonline.com/doi/full/10.1080/13683500.2024.2314700?scroll=top&needAccess=true'>[12]</a>.
       </p>
    </div>
    
    <br>
    
    <div class="container">
        <figure>
            <img src="{{ url_for('static', filename='eda/average_temps_over_years.png') }}" width="100%" alt="Average Temperatures Over Years">
                <figcaption style="text-align: center;">
                    "Average temperatures aggregated over the past several years across hundreds of ski resorts in North America."
                </figcaption>
        </figure>
    </div>
    
    <br>
    
    <div class="container">
        <h3>Questions</h3>
        <br>
        <ol style="font-size: 20px; text-align: justify;">
            <li>Is there a correlation between weather factors and a resort’s rating?</li>
            <li>Do the Epic and Ikon passes have distinct qualities across their associated resorts?</li>
            <li>Given a timeframe, ideal weather conditions, and a maximum travel distance from an origin, can a resort or sequence of resorts be recommended?</li>
            <li>Across North America, considering boundaries like localities and regions, where are resorts concentrated?</li>
            <li>Do clusters of resorts share similar weather and business offerings?</li>
            <li>Are rising temperatures and declining snowfall present across resorts in North America?</li>
            <li>Do resorts with higher ratings have better nearby business offerings?</li>
            <li>Are resort ratings and nearby business offerings affected by elevation?</li>
            <li>Considering weather, business offerings, and ratings are there significant differences between resorts in the United States and Canada?</li>
            <li>Which resorts receive the most snowfall?</li>
        </ol>
    </div>
    
    <br>
{% endblock %}
