{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>intoduction</h1>
    </div>
    
    <div class="container">
        <p>
            The mountains are calling! *Give information about the amount of people who go to the mountains annually*.
        </p>
        <p>
            There are two main pass options that many skiing and snowboarding enthusiasts gravitate towards.
            *Information about epic and ikon*.
        </p>
        <p>
            However, there are only select times during the year when shredding can take place, when the weather 
            permits for brilliant pow days.
       </p> 
       <p>
            A massive industry has been built around this. *give timeframes and annual profits, talk about sport scene
            such as the olympics and x-games.*
        </p>
        <p>
            Towns and major resorts thrive due to the business during these times.
        </p>
        <p>
            *Waren Miller and other famous trailblazers information.*
        </p>
        <p>
            *Information about winter sports being threatened due to increasing temperatures.*
        </p>
        <p>
            *Technical work done by others in analyzing weather and ski resorts or communities around ski resorts.*
        </p>
    </div>
    
    <div class="container">
        <h3>Questions</h3>
        <br>
        <ol>
            <li>Is there a correlation between factors like weather and nearby resources on a ski resort's rating?</li>
            <li>Do the Epic and Ikon passes have distinct qualities they look for in a ski resort?</li>
            <li>Given a date and other ideal parameters for a group of skiers/snowboarders, is there a way to recommend a resort or a sequence of resorts for a trip?</li>
            <li>Where are ski resorts most concentrated, and what factors contribute to this?</li>
            <li>Could winter sports be threatened by global warming and rising temperatures?</li>
            <li>Given a relatively shorter timeframe, are we seeing higher temperature and less snow at these elevations?</li>
        </ol>
    </div>
{% endblock %}
